
style='height:auto; font-size:24px; margin-top: 50px;'


/*----------------------------------------
Fuenres Material Icons
----------------------------------------*/
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/*----------------------------------------
Estilos CSS General
----------------------------------------*/
main{
	/*width: 940px;*/
	/*margin 30px auto;*/
	width: 768px;
	margin: 0px;
}

.div_menu_principal {
	display: flex;
	height: auto;
	font-family: Raleway;
	margin: 130px auto;
	padding: 10px;
	width: auto;

}

.div_menu_principal > div {
	height: auto;
	margin: 10px;
	padding: 20px;
	font-size: 20px;
}

.div_menu_principal .vector {
	position: absolute;
	left: 2.17%;
	right: 29.17%;
	top: 4.67%;
	bottom: 16.67%;

	/* Preto/100% */
	/*background: #464646;*/
	vertical-align: center;

}

.div_menu_principal .fulano {
	/* Fulana de Tal */

	position: absolute;
	width: auto;
	height: 19px;
	left: 77px;
	top: 32.5px;

	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;

	/* identical to box height */

	/* Preto/100% */
	color: #464646;


	/* Inside auto layout */
	flex: none;
	order: 1;
	flex-grow: 0;
	margin: 0px 8px;
	vertical-align: center;

}

.mail {

/* contacto@fulana.com */

	position: absolute;
	width: auto;
	height: 19px;
	left: 496px;
	top: 32.5px;

	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;

/* identical to box height */

	/* Preto/100% */
	color: #464646;


	/* Inside auto layout */
	flex: none;
	order: 1;
	flex-grow: 0;
	margin: 0px 10px;

}

/*----------------------------------------*/
/*----------------------------------------*/

.div-presentacion {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	clear: both;
	margin: 30px 0px;
}

.div-presentacion > div p h1 {

	margin: 10px;
	padding: 20px;
	font-size: 30px;

}

/* Hola, mi nombre es Fulana de Tal y construyo paginas web */
.div-presentacion .h1_presentacion {
	position: static;
	width: 524px;
	/* height: 52px; */
	left: 0px;
	top: 0px;

	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	line-height: 26px;

	/* Preto/100% */
	color: #464646;
	/*margin-bottom: 30px auto;*/
	/*margin: 24px auto;*/


	/* Inside auto layout */
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
	margin: 8px 0px;
}


.div-presentacion .p_presentación {
	/* Soy formada en .... lorem ipsum sit amet consectetur y actualmente estoy participando del proyecto Oracle ONE en Alura Latam. */

	position: static;
	width: 524px;
	/*height: 52px;*/
	left: 0px;
	top: 146px;

	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 26px;

	/* Preto/100% */
	color: #464646;


	/* Inside auto layout */

	/* margin: 24px auto; */

}


.arrow {

	/* Vector */

	position: absolute;
	/* left: 97.14%; */
	/* right: -63.81%; */
	/* top: 50%; */
	/* bottom: -16.67%; */

	/* Preto/100% */
	/* background: #464646; */
	color: #464646;
	transform: rotate(320deg);
}
.arrow:hover {
	background-color: #000000;
	color: white;

}

.div-presentacion .ebb{
	/* unsplash:anAAZ0nrqBY */
	border: 1px solid black;
	border-radius: 50%;

	position: static;
	width: 146px;
	height: 146px;
	left: 768px;
	top: 0px;


	/* Inside auto layout */
	/*flex: none;
	order: 1;
	flex-grow: 0;
	margin: 0px 208px;*/
}

/* ---------------------------------------- */
/* ---------------------------------------- */

.div-social {
	display: flex;
	margin: 0 88px;
	/*top: -61px;*/

}

.div-social > ul {

	margin-left: 10px;
	margin-top: -23px;
	padding: 10px;
	font-size: 12px;
}

.div-social .social {
	/*width: 50px;*/
	/*height: 19px;*/
	/*left: 0px;*/
	/*top: 2.5px;*/
	display: flex;
	/*margin: 0 15px;*/

	font-family: Raleway;
	font-style: normal;
	/*font-weight: 500;*/
	font-size: 12px;
	/*line-height: 19px;*/

	/* identical to box height */

	/* Preto/100% */
	color: #464646;


	/* Inside auto layout */
	/*flex: none;
	order: 0;
	flex-grow: 0;
	margin: 0px 14px;*/
}

.div-social .social ul {
	list-style-type: none;
	margin: 10px;

	padding: 10px;
	overflow: hidden;
	margin-left: 20px;
	background: red;
	/*position: absolute;*/

}

.div-social .social li {
	float: right;
	display: block;
	padding: 10px;
	margin: 10px;
	text-align: center;
	/*position: relative;*/
	/*background-color: green;*/
}

.div-social .social li a {
	/*display: block;*/
	color: #464646;

	/*margin-left: 16px;*/
	/*padding: 16px;*/
	text-decoration: none !important;
}

.div-social .social li a:hover {

	background-color: #000000;
	color: white;

}


/*----------------------------------------*/
/* AREA SOBRE MI 						  						*/
/*----------------------------------------*/

.div_sobre_mi {
	/* Sobre */

	/* Auto layout */
	display: flex;
	flex-direction: column;
	align-items: center;
	/*padding: 32px;*/

	position: absolute;
	width: 768px;
	/*height: 286px;*/
	height: auto;
	left: 0px;
	/*top: 266px;*/

	/* Azul/10% */
	background: #EAF2FD;

	/* Inside auto layout */
	flex: none;
	order: 2;
	align-self: stretch;
	flex-grow: 0;
	margin: 0px 0px;

}


.div_sobre_mi h2 {

	/* Sobre mi */

	position: static;
	width: 137px;
	height: 38px;
	left: 0px;
	top: 0px;

	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	line-height: 38px;

	/* identical to box height */

	/* Preto/100% */
	color: #464646;

	/* Inside auto layout */
	/* flex: none; */
	order: 0;
	flex-grow: 0;
	margin: 16px 0px;

	width: 768px;
	height: 286px;
}

/* Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque velit velit, volutpat semper dignissim dictum, imperdiet ut lacus. Quisque gravida ex a mattis pretium. Suspendisse potenti. Ut semper sagittis ligula et lacinia. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque velit velit, volutpat semper dignissim dictum, imperdiet ut lacus. Quisque gravida ex a mattis pretium. Suspendisse potenti. Ut semper sagittis ligula et lacinia. Aenean sit amet felis venenatis, egestas metus vitae, aliquet metus. */
.div_sobre_mi p {
	/*background-color: blue;*/
	margin: 0 0 1em;
	clear: both;
}

.div_sobre_mi .firma {
	float: bottom;
	position: absolute;
	width: auto;
	/* height: 133px; */
	left: 17px;
	top: 718px;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	color: #464646;
	flex: none;
	order: 1;
	flex-grow: 0;
	margin: 16px 0px;
	clear: both;
  }


/* ---------------------------------------- */
/* ---------------------------------------- */

.div_skills {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	grid-template-columns: auto auto auto;
	display: grid;
	gap: 50px; /* Establezca el espacio entre filas y columnas */

	/* background-color: DodgerBlue; */
	/*position: absolute;*/
	margin: 0 88px;
	/*top: -61px;*/
	/* color: red; */
	margin-bottom: 50px;
	margin-top: 50px;
	/*background: red;*/

	width: 768px;
	height: 286px;
	height: auto;
	vertical-align: bottom;

	
}

.div_skills > div {
	
	/* margin-left: 10px; */

	/*margin-top: -23px;*/
	/* padding: 10px;
	font-size: 12px;
	width: 100%;
	height: 50px;
	border: 1px solid black; */

	/* Skill */

	/* Auto layout */
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	padding: 16px;

	position: static;
	width: 224px;
	height: 118px;
	left: 240px;
	top: 0px;

	/* Preto/branco */
	background: #FFFFFF;

	/* Inside auto layout */
	flex: none;
	order: 1;
	flex-grow: 1;
	margin: 0px 16px;


}



.div_skills h2 {

	/* Sobre mi */

	position: absolute;
	width: 137px;
	height: 38px;
	left: 254px;
	top: 860px;

	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	/* font-size: 32px; */
	/* line-height: 38px; */

	/* identical to box height */

	/* Preto/100% */
	color: #464646;

	/* Inside auto layout */
	/* flex: none; */
	order: 0;
	flex-grow: 0;
	margin: 16px 0px;

}





/* ---------------------------------------- */
/* ---------------------------------------- */

.div_hobbies {
	display: flex;
	/* background-color: DodgerBlue; */
	/*position: absolute;*/
	margin: 0 88px;
	/*top: -61px;*/
	/* color: red; */
	margin-bottom: 40px;
	/*background: red;*/
	height: auto;
	vertical-align: bottom;
}

.div_hobbies > div {
	/* background-color: #f1f1f1; */
	margin-left: 10px;

	/*margin-top: -23px;*/
	padding: 10px;
	font-size: 12px;
	width: 100%;
	height: 50px;
	border: 1px solid black;

}

.div_hobbies h2 {

	/* Sobre mi */

	position: absolute;
	width: 137px;
	height: 38px;
	left: 254px;
	top: 1034px;

	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	/* font-size: 32px; */
	/* line-height: 38px; */

	/* identical to box height */

	/* Preto/100% */
	color: #464646;

	/* Inside auto layout */
	/* flex: none; */
	order: 0;
	flex-grow: 0;
	margin: 16px 0px;

}


/* ---------------------------------------- */
/* ---------------------------------------- */

.div_formacion {
	/*display: flex;*/
	/* background-color: DodgerBlue; */
	/*position: absolute;*/
	margin: 0 88px;
	/*top: -61px;*/
	/* color: red; */
	margin-bottom: 40px;
	/*background: red;*/
	height: auto;
	vertical-align: bottom;
}

.div_formacion > div {
	display: flex;
	background-color: #f1f1f1;
	margin-left: 10px;

	margin-top: -23px;
	padding: 10px;
	font-size: 12px;
	width: 100%;
	height: 50px;
	border: 1px solid black;

}

.div_formacion h2 {

	/* Sobre mi */

	/*position: absolute;*/
	width: auto;
	height: auto;
	/*left: 254px;
	top: 1034px;*/

	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	/* font-size: 32px; */
	/* line-height: 38px; */

	/* identical to box height */

	/* Preto/100% */
	color: #464646;

	/* Inside auto layout */
	/* flex: none; */
	/*order: 0;
	flex-grow: 0;
	margin: 16px 0px;*/

}
/* ---------------------------------------- */
/* 								Media Query								*/
/* ---------------------------------------- */
/*
@media (max-width:480px){
	/*.div_menu_principal {
		width: 100%;
		background: red;
		height: auto;
	}*
	.vector {
		width: auto;
	}
		.fulano {
		width: 50%;
	}

	.mail {
		/* margin-right: 20px; *
	}


}*/