

.div-formacion {

	/* Auto layout */
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	padding: 16px;

	position: static;
	width: 224px;
	height: 118px;
	/*left: 240px;*
	top: 0px;

	/* Preto/branco */
	background: #FFFFFF;

	/* Inside auto layout */
	/*flex: none;
	order: 1;
	flex-grow: 1;
	margin: 30px 16px;*/

}


.div-formacion {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 16px;
  position: absolute;
  position: relative;
  width: 224px;
  height: 118px;
  /*left: 240px;*/
  top: 0px;
  background: #FFFFFF;
  flex: none;
  order: 1;
  flex-grow: 1;
  margin: 30px 0px;
}


.div_formacion > img {

	/* Imagem */

	/* Auto layout */
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 16px;

	position: static;
	width: 224px;
	height: 118px;
	left: 0px;
	top: 0px;

	/* Preto/branco */
	background: #FFFFFF;

	/* Inside auto layout */
	/*flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
	margin: 8px 0px;*/
}


.div_formacion > h2 {

	/* Análisis de datos */
	position: static;
	width: 130px;
	height: 19px;
	left: 0px;
	top: 126px;

	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;

	/* identical to box height */

	/* Preto/100% */
	color: #464646;


	/* Inside auto layout */
	/*flex: none;
	order: 1;
	flex-grow: 0;
	margin: 8px 0px;*/

}



---------------------------------------
---------------------------------------
---------------------------------------
.div_formacion > div {
	display: flex;
	background-color: #f1f1f1;
	margin-left: 10px;

	margin-top: -23px;
	padding: 10px;
	font-size: 12px;
	width: 100%;
	height: 50px;
	border: 1px solid black;

}

.div_formacion h2 {

	/* Sobre mi */

	/*position: absolute;*/
	width: auto;
	height: auto;
	/*left: 254px;
	top: 1034px;*/

	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	/* font-size: 32px; */
	/* line-height: 38px; */

	/* identical to box height */

	/* Preto/100% */
	color: #464646;

	/* Inside auto layout */
	/* flex: none; */
	/*order: 0;
	flex-grow: 0;
	margin: 16px 0px;*/

}
