
/* ----------------------------------------
AREA DE FORMACION 
---------------------------------------- */

.formacion {

	/* Auto layout */
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 72px;

	position: static;
	width: 1440px;
	height: 581px;
	left: 0px;
	top: 664px;

	/* Azul/10% */
	background: #EAF2FD;

	/* Inside auto layout */
	flex: none;
	order: 2;
	align-self: stretch;
	flex-grow: 0;
	margin: 88px 0px;

    /* flex: 1 1 100%; */
}

.formacion__div {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.formacion__titulo {
	position: static;
	width: 100vw;
	height: 38px;
	/* left: 550.5px; */
	/* top: 82px; */

	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 38px;

	/* identical to box height */
	text-align: center;

	/* Preto/100% */
	color: #464646;


	/* Inside auto layout */
	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 32px 0px;

}

.div-formacion-img {
	/* Auto layout */
    /* display: flex; */
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 16px;

	position: static;
	width: 368px;
	height: 286px;
	left: 0px;
	top: 0px;

	/* Preto/branco */
	background: #FFFFFF;

	/* Inside auto layout */
	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 8px 0px;
}

.formacion__div--interno {
	flex-direction: column;
	justify-content: center;
}

.formacion__img {
	/* image 8 */
	position: static;
	width: 368px;
	height: 286px;
	left: 88px;
	top: 78px;

	background: url(image.png);

	/* Inside auto layout */
	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 0px 10px;
}

.formacion__h2 {
	/* Análisis de datos */

	position: static;
	/* width: 178px; */
	height: 26px;
	left: 0px;
	top: 294px;

	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	font-size: 22px;
	line-height: 26px;

	/* identical to box height */

	/* Preto/100% */
	color: #464646;

}

.formacion__p {
	/* 2019 - Alura */
	position: static;
	/* width: 90px; */
	height: 19px;
	left: 0px;
	top: 328px;

	font-family: 'Raleway';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;

	/* identical to box height */

	/* Preto/100% */
	color: #464646;

}