.juegos {
    /* display: flex; */
    /* flex-direction: column; */
    align-items: center;
    padding: 72px;

    position: static;
    width: 1440px;
    height: 406px;
    left: 0px;
    top: 664px;

    /* Azul/10% */
    background: #EAF2FD;

    /* Inside auto layout */
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    /* margin: 88px 0px; */

    flex: 1 1 100%;
    /* background: red !important; */
}

.div__juego {
    position: static;
    height: 319px;
    left: 0px;
    top: 0px;
    /* flex: none;
    flex-grow: 0;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 16px; */
    display: flex;
    flex-direction: column;
    align-items: center;

    display: flex;
    display: inline-flex;
    width: 30%;
    vertical-align: bottom;
}

.juego__ahorcado{

    position: static;
    width: 752px;
    height: 406px;
    left: 0px;
    top: 0px;

    background: url(../images/ahorcado.png) no-repeat center/100%  ;
    background-repeat: no-repeat;
    background-size: 752px 406px;
    border-radius: 0px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 16px;

    /* ---- */
    display: flex;
	flex-direction: row;
	align-items: center;

    border: solid 1px #0000ff;
    display: flex;
    display:inline-flex;
    width: 50%;
    border: solid 1px red;
}

.titulo__juego {
    position: static;
    width: 368px;
    height: 52px;
    left: 0px;
    top: 0px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;

    /* Preto/100% */
    color: #464646;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 8px 0px;
}

.parrafo_juego {
    position: static;
    width: 368px;
    height: 19px;
    left: 0px;
    top: 60px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    /* identical to box height */

    /* Preto/100% */
    color: #464646;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 8px 0px;
}

.div__btn_juego {
    position: static;
    width: 237px;
    height: 51px;
    left: 0px;
    top: 0px;
    flex: none;
    flex-grow: 0;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    /* margin: 0px 33px; */
    
    align-items: center;
    
    /* display: flex; */
    display: inline-flex;
    
    vertical-align: bottom;
    /* border: solid 1px red; */
}

.btn__repositorio {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;

    position: static;
    width: 105px;
    height: 51px;
    left: 132px;
    top: 0px;

    /*  */

}

.btn__demo {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;

    position: static;
    width: 109px;
    height: 51px;
    left: 132px;
    top: 0px;

    background: #2A7AE4;

    /*  */
    color: white;
}
