.box {
    align-items: flex-end;
    display: flex;
    justify-content: center;
}

.div_menu_principal {
    display: grid;
    grid-gap: .2rem;
    grid-template-columns: 2% 16% 60% 22%;
}

.vector {
    order: 1;
    -webkit-order: 1;
    padding: 21px 0px;
    height: 19px;
    align-items: initial;
    margin: auto 0px;

}

.fulano {
    order: 2;
    -webkit-order: 2;
    padding: 21px 0px;
    height: 19px;
    margin: 15px 0px;
}
.mail {
    order: 4;
    -webkit-order: 4;
    padding: 21px 0px;
    height: 19px;
    margin: 15px 0px;
}

.menu-principal {
    order: 3;
    -webkit-order: 3;
    padding: 21px 0px;
    height: 19px;
    margin: 4px 0px;
}

.div_menu_principal nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-left: 20px;
}

.div_menu_principal nav li {
    float: right;
    display: inline-block;
}

.div_menu_principal nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    vertical-align: center;
}

.div_menu_principal nav li a:hover {
    background-color: #000000;
    color: white;
    vertical-align: center;
}
