
/* ---------------------------------------- */
/* ---------------------------------------- */

.skills {

    display: flex;
    flex-direction: column;
    padding: 64px;

    position: static;
    width: 1440px;
    height: 383px;
    left: 0px;
    /* top: 520px; */

    /* Azul/10% */
    background: #EAF2FD;

    /* Inside auto layout */
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    margin: 32px 0px;
    flex: 1 1 100%;
}

.div__skills {
    display: flex;
	align-items: center;
	justify-content: space-between;
}

.skills__h2 {

	align-items: center;
    width: 100%;
    position: static;
    height: 47px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px; 
    text-align: center;
    color: #464646;
    margin: 32px 0px;
}

.div__skills--interno {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 16px;

    position: static;
    width: 176px;
    height: 174px;
    left: 0px;
    top: 0px;

    /* Preto/branco */
    background: #FFFFFF;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 16px;
}

.skills__img {
    position: static;
    width: 24px;
    height: 37px;
    left: 16px;
    top: 94px;

    font-family: 'Font Awesome 5 Brands';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;

    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;

    color: #2A7AE4;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 8px 0px;
}