

/*----------------------------------------
Fuentes Material Icons
----------------------------------------*/

/*----------------------------------------
Estilos CSS General
----------------------------------------*/
body, header, section {
	/*height: 75px;*/
	width: 360px;
	/*left: 2351px;*/
	/*top: -289px;*/
	/*border-radius: 0px;*/
	/*margin: 20px auto;*/
	clear:both;

}

.div_menu_principal {
	  display: flex;
	  align-items: stretch;
	  /*background-color: yellow;*/
	  font-size: 12px;
	}

	.div_menu_principal > div {
	  margin: 10px;
	  text-align: center;
	  line-height: 75px;
	  font-size: 12px;
	}


.div_menu_principal .vector {
	position: absolute;
	/*left: 2.17%;*/
	/*right: 29.17%;*/
	top: 1.67%;
	/*bottom: 16.67%;*/

	/* Preto/100% */
	/*background: #464646;*/
	vertical-align: center;

}

.div_menu_principal .fulano {
	/* Fulana de Tal */

	/*position: absolute;*/
	/*width: auto;*/
	height: 19px;
	/*left: 77px;*/
	/*top: 32.5px;*/

	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 19px;

	/* identical to box height */

	/* Preto/100% */
	color: #464646;


	/* Inside auto layout */
	flex: none;
	order: 1;
	flex-grow: 0;
	/*margin: 0px 8px;*/
	vertical-align: center;

}

.mail {
/* contacto@fulana.com */

	position: static;
	width: auto;
	height: 19px;
	/*left: 496px;*/
	/*top: 32.5px;*/

	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 19px;

/* identical to box height */

	/* Preto/100% */
	color: #464646;


	/* Inside auto layout */
	flex: none;
	order: 1;
	flex-grow: 0;
	margin: 0px 10px;

}


/*----------------------------------------
Area De Presentación
----------------------------------------*/

.div-presentacion {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	clear: both;
	margin: 10px 15px;
	text-align: justify;
}

.div-presentacion > div p h1 {

	margin: 10px;
	padding: 20px;
	font-size: 12px;

}

.ebb{
	/* unsplash:anAAZ0nrqBY */
	border: 1px solid black;
	border-radius: 50%;

	position: static;
	width: 146px;
	height: 146px;
	margin: 20px auto !important;
	/* left: 150; */
}	

/*----------------------------------------
Area Social
----------------------------------------*/

.div-social {
	display: flex;
	margin: auto;
	/*top: -61px;*/
	/*margin-bottom: 30px;*/

}

.div-social > ul {

	margin-left: 10px;
	margin-top: -23px;
	padding: 10px;
	font-size: 12px;
}

.div-social .social {
	/*width: 50px;*/
	/*height: 19px;*/
	/*left: 0px;*/
	/*top: 2.5px;*/
	display: flex;
	/*margin: 0 15px;*/

	font-family: Raleway;
	font-style: normal;
	/*font-weight: 500;*/
	font-size: 12px;
	/*line-height: 19px;*/

	/* identical to box height */

	/* Preto/100% */
	color: #464646;


	/* Inside auto layout */
	/*flex: none;
	order: 0;
	flex-grow: 0;
	margin: 0px 14px;*/
}

.div-social .social ul {
	list-style-type: none;
	margin: 10px;

	padding: 10px;
	overflow: hidden;
	margin-left: 20px;
	background: red;
	/*position: absolute;*/

}

.div-social .social li {
	float: right;
	display: block;
	padding: 10px;
	margin: 10px;
	text-align: center;
	/*position: relative;*/
	/*background-color: green;*/
}

.div-social .social li a {
	/*display: block;*/
	color: #464646;

	/*margin-left: 16px;*/
	/*padding: 16px;*/
	text-decoration: none !important;
}

.div-social .social li a:hover {

	background-color: #000000;
	color: white;

}


/*----------------------------------------*/
/* AREA SOBRE MI 						  						*/
/*----------------------------------------*/

.div_sobre_mi {

	/* Auto layout */
	display: flex;
	flex-direction: column;
	/*align-items: center;*/
	padding: 16px;

	position: static;
	width: 360px;
	/*height: 350px;*/
	left: 0px;
	top: 350px;

	/* Azul/10% */
	background: #EAF2FD;

	/* Inside auto layout */
	flex: none;
	order: 2;
	align-self: stretch;
	flex-grow: 0;
	margin: 0px 0px;

}


.div_sobre_mi > h2 p .firma {

	/*display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	padding: 16px;*/
}


.div_sobre_mi h2 {
	/* Sobre mi */

	position: static;
	width: 100%;
	height: 26px;
	left: 0px;
	top: 0px;

	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 26px;

	/* identical to box height */

	/* Preto/100% */
	color: #464646;


	/* Inside auto layout */
	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 16px 0px;

}

/* Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque velit velit, volutpat semper dignissim dictum, imperdiet ut lacus. Quisque gravida ex a mattis pretium. Suspendisse potenti. Ut semper sagittis ligula et lacinia. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque velit velit, volutpat semper dignissim dictum, imperdiet ut lacus. Quisque gravida ex a mattis pretium. Suspendisse potenti. Ut semper sagittis ligula et lacinia. Aenean sit amet felis venenatis, egestas metus vitae, aliquet metus. */
.div_sobre_mi p {

	/* Auto layout */
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 12px;

	position: static;
	width: auto;
	height: auto;
	left: 0px;*/

	position: static;
	width: 328px;
	height: auto;
	left: 0px;
	top: 42px;

	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	text-align: justify;
	line-height: 16px;

	/* Preto/100% */
	color: #464646;

}

.div_sobre_mi .firma {

	position: static;
	width: 140px;
	height: 52px;
	left: 0px;
	top: 266px;

	background: url(image.png);

	/* Inside auto layout */
	flex: none;
	order: 2;
	flex-grow: 0;
	margin: 16px 0px;
	/*align-items: left !important;*/
}


/*----------------------------------------
Area Skills
----------------------------------------*/

.div_skills {

	grid-template-columns: auto auto ;
	display: grid;
	gap: 10px; 

	
	/*width: 360px;*/
	width: auto;

	/* Skills */

	position: static;
	/*position: relative;*/

	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 16px;

	/* identical to box height */
	text-align: center;

	/* Preto/100% */
	color: #464646;


	/* Inside auto layout */
	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 0px 15px;
	/* margin: 32px 40px; */

}


.div_skills > div  {
	/* Auto layout */
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-start;
		padding: 16px auto;
		position: static;

		width: 100%;
		height: 118px;
		/*left: 240px;*/
		/*top: 0px;*/

		/* Preto/branco */
		background: #FFFFFF;

		/* Inside auto layout */
		flex: none;
		order: 1;
		flex-grow: 1;


}

.div_skills h2 {

	/* column-span: all; */
	/* position: absolute; */
	/* position: relative; */
	width: 100%;
	height: 38px;
	/*left: 254px;*/
	/*top: 780px;*/
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	line-height: 38px; 
	color: #464646;
	/*flex: max-content;*/
	flex-grow: 10;
	order: 0;
	flex-grow: 0;
	/* margin: 5px 4px !important; */

}

#h2-skills {
	width: 100%; position:absolute; height: 50px;

}

.div-skills-interno {
/* Auto layout */
/* column-span: all; */
/* display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: flex-start;
padding: 16px; */

/* position: static; */
/*width: 156px;*/
/* height: 118px; */
/* left: 0px;
top: 0px; */

/* Preto/branco */
background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;
/* margin: 3px 6px !important; */
width: 100%;
margin-top: 75px;
margin-bottom: -75px;

}

.div-skills-interno > h3 {
	/*font-size: 22px;*/
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;
}

.div-skills-interno > img {
	width: 25%; 
	height: auto;
	

}


/*----------------------------------------
Area Hobbies
----------------------------------------*/

.div_hobbies {
	grid-template-columns: auto auto auto;
	display: grid;
	gap: 50px; /* Establezca el espacio entre filas y columnas */


}


.div_hobbies h2 {
	/*position: absolute;*/
	width: auto; /*490px;*/
	height: auto;/*38px*/
	left: 254px;
	/*top: 780px;*/
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	line-height: 38px;
	color: #464646;
	flex: max-content;
	flex-grow: 1;
	order: 0;
	flex-grow: 0;
	/*margin: 5px 4px;*/

}

.div_hobbies > div {
	/* Auto layout */
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	padding: 16px;

	position: static;
	width: 224px;
	height: 118px;
	left: 240px;
	top: 0px;

	/* Preto/branco */
	background: #FFFFFF;

	/* Inside auto layout */
	flex: none;
	order: 1;
	flex-grow: 1;
	margin: 30px 16px;

	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 26px;
	text-align: center;
	color: #464646;

}

.div_hobbies h2 {
	position: absolute;
	width: 490px;
	height: 38px;
	left: 628px;
	top: 1288px;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	line-height: 38px;
	color: #464646;
	/*flex: max-content;*/
	/*flex-grow: 1;*/
	/*order: 0;*/
	/*flex-grow: 0;*/
	margin: 5px 4px;

}


div h3:first-child {
	color: red;
	float: bottom;
	/*margin: 50px 10px 0;*/
	display: flex;
	display: absolute;
	/*padding: 0px 20px;*/

}

/*.div-hobbies-interno {
background: green;

}*/

/*.div_hobbies > div : h3 {
	color: red;
}*/

/*div img:first-child {
	position: flex;
	float: top;
	position: absolute;
	color: red;
}*/


/*div:first-child {
  color: blue;
}*/

/*----------------------------------------
Area Formación
----------------------------------------*/

.formacion {
	/* grid-template-columns:  auto;
	display: grid; *
	gap: 10px; 
	position: absolute;  */
	/* Azul/10% */
	/* background: #EAF2FD; */

	/* Auto layout */
	/* display: flex;
	flex-direction: row;
	align-items: center;
	padding: 32px; */

	/*position: static;*/
	/*width: 768px;*/
	/* width: 100%;
	height: 291px;
	left: 0px; */
	/*top: 1332px;*/

	/* Azul/10% */
	/* background: #EAF2FD; */

	/* Inside auto layout */
	/* flex: none;
	order: 5;
	align-self: stretch;
	flex-grow: 0;
	margin: 0px 0px; */

	/* Formacao */

	/* Auto layout */
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 32px;

	position: static;
	width: 360px;
	height: 661px;
	left: 0px;
	top: 1716px;

	/* Azul/10% */
	background: #EAF2FD;

	/* Inside auto layout */
	flex: none;
	order: 5;
	align-self: stretch;
	flex-grow: 0;
	margin: 0px 0px;
}


.tit-formacion {

	/* Formación académica */

	position: static;
	width: 233px;
	height: 26px;
	left: 63.5px;
	top: 32px;

	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 26px;

	/* identical to box height */
	text-align: center;

	/* Preto/100% */
	color: #464646;


	/* Inside auto layout */
	flex: none;
	order: 0;
	flex-grow: 0;
	/* margin: 32px 0px; */
	margin: 77px 0px;

}


.div-formacion {
	
	/* Auto layout */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 16px;

	position: static;
	width: 100%;
	height: auto;
	left: 0px;
	top: 0px;

	/* Preto/branco */
	background: #FFFFFF;

	/* Inside auto layout */
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
	margin: 30px 0px;
}
