

html {

    font-family: "Raleway", "Ubuntu-Light", Helvetica, verdana;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

}


article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
  font-family:  "Raleway","Ubuntu-Light", "Helvetica", "verdana";

 }



 div {
    font-size: 1rem;
  }

  ul li a {
    text-decoration: none ;
    list-style: none ;
  }


  ol li a {
    text-decoration: none ;
    list-style: none ;
  }
.clearfix {
    overflow: auto;
}

body {
	background: #F5F5F5;
	/*max-width:1800px;
	max-width:1448px;*/

}

main{
	/*width: 940px;*/
	/*margin 30px auto;*/
	width: 1440px;
  	margin: 0px;
}

/*div {
	margin: 0px;
}*/


.div_menu_principal {
  display: flex;
  height: 19px;
  font-family: Raleway;
  margin: 130px auto;
  padding: 10px;
  /*position: absolute;*/
  /*background-color: DodgerBlue;*/
}

.div_menu_principal > div {

  height: 19px;
  margin: 10px;
  padding: 20px;
  font-size: 20px;
}

.div_menu_principal .vector {
	position: absolute;
	left: 2.17%;
	right: 29.17%;
	top: 4.67%;
	bottom: 16.67%;

	/* Preto/100% */
	/*background: #464646;*/
	vertical-align: center;

}

.div_menu_principal .fulano {
	/* Fulana de Tal */

	position: absolute;
	width: auto;
	height: 19px;
	left: 77px;
	top: 32.5px;

	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;

	/* identical to box height */

	/* Preto/100% */
	color: #464646;


	/* Inside auto layout */
	flex: none;
	order: 1;
	flex-grow: 0;
	margin: 0px 8px;arine;*/
	vertical-align: center;

}

.div_menu_principal nav {

	height: 19px;
	width: auto;
	float: right;
	display: inline-block;
	color: white;
	position: absolute;
	top: 15px;
	left: 363px;
	vertical-align: center;
	/*background: green;*/
}

.div_menu_principal nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*background-color: #333333;*/
  /*background-color: white;*/
  margin-left: 20px;

}

.div_menu_principal nav li {
  float: right;
}

.div_menu_principal nav li a {
  display: block;
  color: black;

  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.div_menu_principal nav li a:hover {
  	/*background-color: #111111;*/
  	background-color: #000000;
	color: white;
}



/*----------------------------------------*/
/*----------------------------------------*/

.div-presentacion {
  display: flex;

  /*position: absolute;*/
  /*background-color: DodgerBlue;*/
}

.div-presentacion > div p h1 {

  margin: 10px;
  padding: 20px;
  font-size: 30px;

}

/* Hola, mi nombre es Fulana de Tal y construyo paginas web */
.div-presentacion .h1_presentación {
	position: static;
	width: 751px;
	/*height: 122px;*/
	left: 0px;
	top: 0px;

	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 52px;
	line-height: 61px;

	/* Preto/100% */
	color: #464646;
	margin-bottom: 30px auto;
	margin: 24px auto;


	/* Inside auto layout */
	/*flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
	margin: 24px 0px;*/
}

.div-presentacion .p_presentación {
	/* Soy formada en .... lorem ipsum sit amet consectetur y actualmente estoy participando del proyecto Oracle ONE en Alura Latam. */

	position: static;
	width: 751px;
	/*height: 52px;*/
	left: 0px;
	top: 146px;

	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 26px;

	/* Preto/100% */
	color: #464646;


	/* Inside auto layout */
	/*flex: none;
	order: 1;
	align-self: stretch;
	flex-grow: 0;*/
	margin: 24px auto;

}

.div-presentacion .ebb{
	/* unsplash:anAAZ0nrqBY */
	border: 1px solid black;
	border-radius: 50%;


	position: static;
	/*width: 368px;
	height: 368px;
	left: 768px;
	top: 0px;*/

	/*background: url();*/

	/* Inside auto layout */
	/*flex: none;
	order: 1;
	flex-grow: 0;
	margin: 0px 208px;*/
}

/* ---------------------------------------- */
/* ---------------------------------------- */

.div-social {
  display: flex;
  /*background-color: DodgerBlue;*/
  /*position: absolute;*/
  margin: 0 88px;
  /*top: -61px;*/

}

.div-social > ul {

  margin-left: 10px;
  margin-top: -23px;
  padding: 10px;
  font-size: 12px;
}

.div-social .social {
	/*width: 50px;*/
	/*height: 19px;*/
	/*left: 0px;*/
	/*top: 2.5px;*/
	display: flex;
	/*margin: 0 15px;*/

	font-family: Raleway;
	font-style: normal;
	/*font-weight: 500;*/
	font-size: 12px;
	/*line-height: 19px;*/

	/* identical to box height */

	/* Preto/100% */
	color: #464646;


	/* Inside auto layout */
	/*flex: none;
	order: 0;
	flex-grow: 0;
	margin: 0px 14px;*/
}

.div-social .social ul {
  list-style-type: none;
  margin: 10px;

  padding: 10px;
  overflow: hidden;
  margin-left: 20px;
  background: red;
  /*position: absolute;*/

}

.div-social .social li {
  float: right;
  display: block;
  padding: 10px;
  margin: 10px;
  text-align: center;
  /*position: relative;*/
  /*background-color: green;*/
}

.div-social .social li a {
  /*display: block;*/
  color: black;

  /*margin-left: 16px;*/
  /*padding: 16px;*/
  text-decoration: none !important;
}

.div-social .social li a:hover {

  	background-color: #000000;
	color: white;

}


/*----------------------------------------*/
/* AREA SOBRE MI 						  */
/*----------------------------------------*/

.div_sobre_mi {

	/* Frame 6 */

	/* Auto layout */
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 64px;

	position: static;
	width: 1440px;
	height: 383px;
	left: 0px;
	top: 520px;

	/* Azul/10% */
	background: #EAF2FD;

	/* Inside auto layout */
	/*flex: none;
	order: 2;
	align-self: stretch;
	flex-grow: 0;
	margin: 32px 0px;*/

	padding: 20px;
	resize: vertical;
  	overflow: auto;
}


.div_sobre_mi .div_sobre_mi h2 {

	/* Sobre mi */

	position: static;
	width: 137px;
	height: 38px;
	left: 0px;
	top: 0px;

	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	line-height: 38px;

	/* identical to box height */

	/* Preto/100% */
	color: #464646;

	/* Inside auto layout */
	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 16px 0px;
}

.div_sobre_mi p {
	/*background-color: blue;*/
	/* Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque velit velit, volutpat semper dignissim dictum, imperdiet ut lacus. Quisque gravida ex a mattis pretium. Suspendisse potenti. Ut semper sagittis ligula et lacinia. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque velit velit, volutpat semper dignissim dictum, imperdiet ut lacus. Quisque gravida ex a mattis pretium. Suspendisse potenti. Ut semper sagittis ligula et lacinia. Aenean sit amet felis venenatis, egestas metus vitae, aliquet metus. */
	img_vector {
	  float: bottom: ;
	}
	position: static;
	width: 751px;
	/*height: 133px;*/
	left: 0px;
	top: 54px;

	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;

	/* Preto/100% */
	color: #464646;

	/* Inside auto layout */
	flex: none;
	order: 1;
	flex-grow: 0;
	margin: 16px 0px;
}


/* ---------------------------------------- */
/* ---------------------------------------- */

.div_skills {
  display: flex;
  background-color: DodgerBlue;
  /*position: absolute;*/
  margin: 0 88px;
  /*top: -61px;*/

}

.div_skills > div {
  background-color: #f1f1f1;
  margin-left: 10px;
  margin-top: -23px;
  padding: 10px;
  font-size: 12px;
}


