

html {

    font-family: "Raleway", "Ubuntu-Light", Helvetica, verdana;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;

}


article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
  font-family:  "Raleway","Ubuntu-Light", "Helvetica", "verdana";

 }


  ul li a {
    text-decoration: none ;
    list-style: none ;
  }


  ol li a {
    text-decoration: none ;
    list-style: none ;
  }
.clearfix {
    overflow: auto;
}

body {
	background: #F5F5F5;
  box-sizing: border-box;
}

footer, section {
    break-after: always;
  }

/* -----------------------------------------
Media Querys Pantalla Grande
-------------------------------------------- */

@media (max-width:1440px) and (min-width:767px){
  height: 5020px;
  width: 1440px;
  left: -123px;
  top: -289px;
  border-radius: 0px;

}

/* -----------------------------------------
TABLET
-------------------------------------------- */

@media (max-width:768px) and (min-width:361px){

  height: 4379px;
  width: 768px;
  left: 1450px;
  top: -289px;
  border-radius: 0px;

}

/* -----------------------------------------
TABLET
-------------------------------------------- */

@media (max-width:360px) {

  height: 4475px;
  width: 360px;
  left: 2351px;
  top: -289px;
  border-radius: 0px;


}
