.skills__contenido {
    /* background: #fdfdfd;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem; */

    display: grid;
    grid-template-rows: 100px 100px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5px; 
}


@media only screen and (max-width: 1910px){


}

@media only screen and (max-width: 768px){

    .skills__contenido {
            
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;

        grid-row-gap: 15px;
        grid-column-gap: 15px;
        margin-left: 53px;
    }
    

}



@media only screen and (max-width: 360px){

    .skills__contenido {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;

        grid-row-gap: 15px;
        grid-column-gap: 15px;
    }


}

