.presentacion {
    background: #e5e5e5;
    display: grid;
    grid-template-columns: 100px 50px 100px;
    padding: 5rem 0 0 5rem; 
	gap: 1rem;
	grid-auto-flow: dense; 
	grid-auto-rows: 25rem;
	grid-template-columns: repeat(auto-fill, minmax(min(100%, 41rem), 1fr )); 
}


/* 
@media only screen and (max-width: 1910px){


}

@media only screen and (max-width: 768px){
    display: grid;
    grid-template-columns: 50px 25px 50px;

}

}


@media only screen and (max-width: 360px){


} */