.presentacion__contenido {

    display: flex;
    flex-direction: column;
    align-items: center;

}


@media only screen and (max-width: 1910px){

    .presentacion__contenido {

    }


}

@media only screen and (max-width: 768px){

    .presentacion__contenido {
    /* display: grid;
    grid-template-columns: 50px 25px 50px; */

    }

}




@media only screen and (max-width: 360px){
    
    .presentacion__contenido {
        
        /* display: grid; */
        /* grid-template-rows: 1fr ; */
        /* grid-template-columns: 1fr;  */

        /* grid-row-gap: 15px;
        grid-column-gap: 15px; */
        
        order: 2;

    }

}