
/* ---------------------------------------- */
/* ---------------------------------------- */

.div_skills {
  display: flex;
  background-color: DodgerBlue;
  /*position: absolute;*/
  margin: 0 88px;
  /*top: -61px;*/

}

/*.div_skills > div {
  background-color: #f1f1f1;
  margin-left: 10px;
  margin-top: -23px;
  padding: 10px;
  font-size: 12px;
}*/