
/*----------------------------------------*/
/* AREA SOBRE MI 						  */
/*----------------------------------------*/

.div_sobre_mi {

	/* Frame 6 */

	/* Auto layout */
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 64px;

	position: static;
	width: 1440px;
	height: 383px;
	left: 0px;
	top: 520px;

	/* Azul/10% */
	background: #EAF2FD;

	/* Inside auto layout */
	/*flex: none;
	order: 2;
	align-self: stretch;
	flex-grow: 0;
	margin: 32px 0px;*/

	padding: 20px;
	resize: vertical;
  	overflow: auto;
}


.div_sobre_mi .div_sobre_mi h2 {

	/* Sobre mi */

	position: static;
	width: 137px;
	height: 38px;
	left: 0px;
	top: 0px;

	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	line-height: 38px;

	/* identical to box height */

	/* Preto/100% */
	color: #464646;

	/* Inside auto layout */
	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 16px 0px;
}

.div_sobre_mi .div_sobre_mi p {
	/*background-color: blue;*/
	/* Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque velit velit, volutpat semper dignissim dictum, imperdiet ut lacus. Quisque gravida ex a mattis pretium. Suspendisse potenti. Ut semper sagittis ligula et lacinia. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque velit velit, volutpat semper dignissim dictum, imperdiet ut lacus. Quisque gravida ex a mattis pretium. Suspendisse potenti. Ut semper sagittis ligula et lacinia. Aenean sit amet felis venenatis, egestas metus vitae, aliquet metus. */
	img_vector {
	  float: bottom: ;
	}
	position: static;
	width: 751px;
	/*height: 133px;*/
	left: 0px;
	top: 54px;

	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;

	/* Preto/100% */
	color: #464646;

	/* Inside auto layout */
	flex: none;
	order: 1;
	flex-grow: 0;
	margin: 16px 0px;
}
