
.juego__interactivo--caja2 {
    /* width: 752px;
    height: 406px;
    left: 0px;
    top: 0px; */

    background-image: url(../../images/ahorcado2.png);
    background-repeat: no-repeat;
    background-size: 752px 406px;
    border-radius: 0px;

    border: solid 1px #0000ff;
    display: flex;
    display:inline-flex;
    /* width: 50%; */

}


@media only screen and (max-width: 1910px){

    .juego__interactivo--caja2 {
        width: 752px;
        height: 406px;
        left: 0px;
        top: 0px;
        width: 50%;
    }

    
}


@media only screen and (max-width: 768px){

    .juego__interactivo--caja2 {
                
        width: 704px;
        height: 320px;
        order: 1;
        
    }

  


}


@media only screen and (max-width: 360px){

    .juego__interactivo--caja2 {
                
        width: 296px;
        height: 144px;
        order: 1;

        
        background-image: url(../../images/ahorcado_360.png);
        background-repeat: no-repeat;
        background-size: 296px 144px;
        border-radius: 0px;
        margin: -63px 0px 5px -49px;
        /* display: flex; */
    
        
    }



}

