/* .compress__texto--titulo {
    height: 47px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px; 
    text-align: center;
    color: #464646;
    margin: 32px 0px;
} */